In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
# Задание 1
import pandas as pd
authors = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

book = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
}

a = pd.DataFrame(authors)
b = pd.DataFrame(book)

b

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [63]:
# Задание 2
authors_price = pd.merge(a, b, on='author_id', how='outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [7]:
# Задание 3
top5 = authors_price.nlargest(5, "price")
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [23]:
# Задание 4
groupby = authors_price.groupby("author_name")
min_price = groupby["price"].min()
max_price = groupby["price"].max()
mean_price = groupby["price"].mean()

authors_stat = pd.DataFrame({
    'min_price': min_price,
    'max_price': max_price,
    'mean_price': mean_price
})

authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

In [75]:
# Задача 5
import numpy as np
import pickle

authors_price.loc[authors_price["book_title"].notnull(), "cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
# authors_price

book_info = pd.pivot_table(authors_price,
                           index=["author_name"],
                           values=["price"],
                           columns=["cover"],
                           aggfunc=[np.sum],
                           fill_value=0,
                           margins=True
                           )
# book_info

with open('book_info.pkl', 'wb') as f:
    pickle.dump(book_info, f)

with open('book_info.pkl', 'rb') as f:
    book_info2 = pickle.load(f)

book_info
book_info2

               sum
             price
cover       мягкая твердая   All
author_name
Островский     660       0   660
Тургенев       650     450  1100
Чехов            0     950   950
All           1310    1400  2710